@font-face {
    font-family: 'master_of_break'; /*a name to be used later*/
    src: url('../fonts/master_of_break.ttf'); /*URL to font*/
}
#votes,#average{
  background: #d9d9d9;
  padding: 20px;
  margin-top: 5%;
  max-width: 25%;
   margin: auto;
    width: 70%;
    border: 3px solid #999999;
    padding: 20px;
    text-align: center;
}

body {
    background-color:#d6d6d6
}
.main {
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  background-color: #e6e6e6;
  margin: auto;
    width: 60%;
    border: 3px solid #999999;
    padding: 10px;
}

h1 {
 text-align: center;
 font-family: master_of_break;
 font-size: %100

}

.finger {
    margin: auto;
    width: 60%;
    padding: 20px;
}

#one {
  background-image: url('/images/one.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#two {
  background-image: url('/images/two.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#three {
  background-image: url('/images/three.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#four {
  background-image: url('/images/four.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#five {
  background-image: url('/images/five.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}
